<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/doubleRange.css">
    <title>Login page</title>
</head>

<body onload='document.getElementById("popupForm").style.display = "none"'>
    <header>
        <nav>
            <div class="home">
                <a href="/">
                    <img class="logo" src="/ressources/logo.png" alt="logo"></img>
                </a>
            </div>
            <div class="openButton" onclick="closeForm()">
                <img class="filter" src="/ressources/filtre.png"></img>
            </div>
            <form class="searchBarre" action="/api/client/HomeSearch" method="post">
                <input name="barreSearch" class="barre" id="barre" type="search" placeholder="Find your plant !">
                <button type="submit" class="btn_submit1" onclick="findPlant(getElementById('barre').value)">Search</button>
            </form>
            <div class="loginPopup">
                <div class="formPopup" id="popupForm">
                    <form action="/api/client/Homefilter" class="formContainer" method="post">
                        <div class="filter">Choose your filters</div>
                        <button type="button" class="btn_cancel" onclick="closeForm()">Close the form</button>
                        <div id="doubleRange" class="doubleRange">
                            <div class="barre">
                                <div class="barreMilieu" style="width:50%; left:25%;"></div>
                                <div class="t1 thumb" style="left:25%"></div>
                                <div class="t2 thumb" style="left:75%;"></div>
                            </div>
                            <div class="labelMin">$0</div>
                            <div class="labelMax">$150</div>
                            <input type="hidden" name="pmin" value="" class="inputMin" />
                            <input type="hidden" name="pmax" value="" class="inputMax" />
                        </div>
                        <select name="typePlant" id="typePlant">
                            <option value="">Select your type
                            <option value="Tree">Tree
                            <option value="Cactus">Cactus
                            <option value="Flower">Flower
                            <option value="Cane plant">Cane plant
                            <option value="Carnivorous">Carnivorous
                            <option value="Fruit plant">Fruit plant
                        </select>
                        <button type="submit" class="btn_submit">Add filter</button>
                    </form>
                    <script type="text/javascript" src="/js1/doubleRange.js"></script>
                    <script type="text/javascript">
                        setDoubleRange({
                            element: '#doubleRange',
                            minValue: 0,
                            maxValue: 150,
                            stepValue: 1,
                            defaultMinValue: 5,
                            defaultMaxValue: 100,
                            unite: '$'
                        });
                        function closeForm() {
                            if (document.getElementById("popupForm").style.display == "none") {
                                document.getElementById("popupForm").style.display = "block";
                            }
                            else {
                                document.getElementById("popupForm").style.display = "none";
                            }
                        }
                        function findPlant(e){
                            searchPlant(e);
                        }
                    </script>
                </div>
                <div class="shop">
                    <a href="">
                        <img class="cart" src="/ressources/Cart.png" alt="cart"></img>
                    </a>
                </div>

                <div class="profile">
                    <img class="account" src="/ressources/Account.png" onclick="window.location='/api/client/Profile'"
                        alt="account"></img>
                </div>

            </div>
        </nav>

    </header>
    <section class="display">
        <div id="app">
            <div class="plant-container">
                <div class="plant" v-for="(image, index) in images">
                    <img v-bind:src="path + image">
                    <p class="names"> {{names[index]}} </p>
                    <p class="prices">{{prices[index]}} </p>
                </div>
            </div>
        </div>
    </section>

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>

    <script type="module">
        import { createApp } from 'vue'

        createApp({
            data() {
                return {
                    path: "/ressources/",
                    images: [],
                    prices: [],
                    names: []
                }
            },
            methods: {
                initializePlants() {
                    let index = 1
                    "<% plants.forEach(plant => { %>"
                    this.prices.push("$<%= plant.price %>")
                    this.names.push("<%= plant.name %>")
                    this.images.push("img" + index + ".png")
                    index++
                    "<% }); %>"
                }
            },
            beforeMount() {
                this.initializePlants()
            }
        }).mount('#app')
    </script>

    <script>

    </script>
    <footer></footer>
</body>

</html>