<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Login page</title>
</head>
<body>
    <header>
        <nav>
            <div class="home">
                <a href ="/api/client/home" >
                    <img class = "logo" src="/ressources/logo.png" alt="logo"></img>
                </a>
            </div>
            <div class ="filter">

            </div>
            <div class="shop">
                <a href ="/api/client/cart" >
                    <img class = "cart" src="/ressources/Cart.png" alt="cart"></img>
                </a>
            </div>

            
        </nav>

    </header>
    <section>
        <div class = "card-container">
            <div class="card">
                <div class = "login-header">
                    <h1>My Profile</h1>
                </div>
                <div class = "login-body">
                    <form name="inscription" action="/api/client/Profile" method="post">
                        <div class="case">
                            <input type="firstname" class="firstname" required placeholder="Enter firstname" id="firstname" name="firstname" value="<%- firstname %>">
                        </div>
                        <div class="case">
                            <input type="lastname" class="lastname" required placeholder="Enter lastname" id="lastname" name="lastname" value="<%- lastname %>">
                        </div>
                        <div class="case">
                            <input type="mail" class="mail" required placeholder="Enter mail" id="mail" name="mail" value="<%- mail %>">
                        </div>
                        <div class="case">
                            <input type="password" class="password" required placeholder="Password" id="password" name="password" value="<%- password %>">
                        </div>
                        <button class = "sign-button" onclick=" action ='/api/client/UpdateUser'" type ="submit">Update</button>
                        <button class = "sign-button" onclick=" action ='/api/client/DeleteClient'" type ="submit">Delete</button>
                        <button class = "sign-button" onclick=" action ='/api/client/disconnect'" type ="submit">Disconnect</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>