.doubleRange{ width:125px; margin:10px 0; padding-top:13px; margin: 50px; margin-top: 10px;}
.doubleRange .barre{ width:400%; height:6px; background-color:grey; border-radius:3px; position:relative; margin-bottom: 5px;}
.doubleRange .barre .barreMilieu{ height:6px; background-color:#1b9c35; position:absolute; }
.doubleRange .barre .thumb{ width:15px; height:15px; background-color:white; border:1px solid grey; border-radius:50%; top:-5px; position:absolute; cursor:pointer; transform:translateX(-13px); }
.doubleRange .label{ margin-top:15px; color:#131212; font-weight:bold; user-select:none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; }


.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 10%);
    border: 6px solid #999999;
    z-index: 9;
    height: 300px;
    width: 600px;
    border-radius: 32px;
  }
  .formContainer {
    padding: auto;
    background-color: #fff;
    height: 292px;
    width: 600px;
    border-radius: 20px;
  }

  .btn_cancel{
    margin-left: 210px;
    margin-top: 20px;
    width: 30%;
    font-size: 17px;
    background-color: #6DBF6A;
    border-radius: 10px;
    cursor: pointer;
  }
  #typePlant{
    margin-left: 200px;
  }
  .labelMax{
    margin-top: -20px;
    margin-left: 470px;
  }

