@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    image-rendering: optimizeQuality;
}

.plant{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.view-container{
    display: flex;
    flex-direction: row;
}



.mini-view img{
    cursor: pointer;
    width: 7.5vw;
    height: auto;
    margin: 0 3vw 2vw 3vw;
}

.mini-view img:hover{
    opacity: 0.5;
}

.view img{
    width: 45vw;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;


}

.infos-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.infos{
    width: 80%;
}

.plant-name{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

.plant-price{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.description{
    margin-top: 5vh;
    font-size: 20px;
}

.delivery{
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.method img{
    width: 20%;
    padding: 35px 20px 15px 20px;
}

.method-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.method-desc{
    text-align: center;
}

.method-desc p {
    font-size: 12px;
    padding-bottom: 10%
}

.quantity{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 8vh;

}

.quantity-controller{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.stock{
    font-size: 10px;
    padding-left: 10px;
}

.btn-plus{
    padding: 7px;

}

.btn-minus{
    padding: 7px 8.5px;
}

.btn-plus,.btn-minus{
    background-color: rgba(235, 235, 235, 0.573);
    border: 1px solid black;
}

.btn-plus:hover,.btn-minus:hover{
    cursor: pointer;
    background-color: rgba(210, 210, 210, 0.573) ;
}

.desired-quantity{
    border: 1px solid black;
    padding: 7px;
}


.desired-quantity{
    border: 1px solid black;
}

.bag{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    bottom: 1vh;
    padding: 4px 0;
    width: 80%;
}

.bag:hover{
    cursor: pointer;
    background-color: rgb(72, 69, 69);
}